.login_heading {
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

.login_subheading1 {
  font-weight: 200;
  font-size: 2rem;
  color: white;
  margin-top: 1rem;
}

.content {
  padding: 1.5rem 0rem;
  padding-bottom: 0rem;
  text-align: center;
}
.login_subheading2 {
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

