.outlined_btn{
    display: inline;
    background: linear-gradient(#222, #222), 
              linear-gradient(to right, #9B3A8E, #D9304E
              , #FA7E44);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat; /* this is important */
  border: 3px solid transparent;
  padding: 1rem 3rem;
  font-size: 2.1rem;
  color: white;
  width: 20rem;
  height: 2.5rem;

}